.background {
  background-image: url("../DATA/TRAVAUX.jpg");
}
footer {
  background-color: rgb(0, 0, 0,0.5);
  color: #e5e5e5;
  padding: 1.6%;
  text-align: center;
  margin-top: 50%;
}

@media (max-width: 767px) {
  footer {
    background-color: rgb(0, 0, 0,0.5);
    color: #e5e5e5;
    padding: 1.6%;
    text-align: center;
    margin-top: 160%;
  }
  }