@font-face {
  font-family: "Bourgeois Ultra";
  src: url("../DATA/Bourgeois-Ultra.otf") format("opentype");
}

@media (max-width: 1080px) {
  .container {
    width: 80%;
  }
  .intro-text img {
    width: 200px;
  }
  .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallery img {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }

  .gallery :hover {
    transform: scale(1.1);
    transition: 0.3s cubic-bezier(0.075, 0.01, 0.49, 2);
  }
}
@media (max-width: 883px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery img {
    width: 90% !important;
    margin-bottom: 20px;
  }

  .gallery :hover {
    transform: scale(1.1);
    transition: 0.3s cubic-bezier(0.075, 0.01, 0.49, 2);
  }
}
.photo {
  position: relative;
}

.photo img {
  width: 100%;
  height: auto;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #ffffff;
  padding: 20px;
  max-width: 80%;
  background-image: linear-gradient(
    to right,
    rgba(0, 21, 36, 0.7),
    rgba(0, 21, 36, 0)
  );
  padding-bottom: 5%;
  padding-top: 1%;
  border-radius: 20px;
}

.overlay-content h1 {
  font-size: 5vw;
  margin-bottom: 20px;
}

.overlay-content p,
.overlay-content a {
  font-size: 2.5vw;
  margin: 10px 0;
}

.overlay-content a {
  font-size: 2.5vw;
  background-color: #fca311;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 0;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery img {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.gallery :hover {
  transform: scale(1.03);
  transition: 0.3s cubic-bezier(0.075, 0.01, 0.49, 2);
}

.banniere {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  width: 100%;
  backdrop-filter: blur(3px);
}
.banniere h1 {
  font-size: 500%;
  text-align: center;
  color: #ffffff;
}
.banniere p {
  font-size: 200%;

  text-align: center;
  color: #ffffff;
}
.banniere img {
  width: 100%;
  float: right;
}
